In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Load the Dataset
df = pd.read_csv('England CSV.csv')

In [4]:
df

,Date,Season,HomeTeam,AwayTeam,FTH Goals,FTA Goals,FT Result,HTH Goals,HTA Goals,HT Result,...,H Fouls,A Fouls,H Corners,A Corners,H Yellow,A Yellow,H Red,A Red,Display_Order,League
0,16/01/2025,2024/25,Ipswich Town,Brighton & Hove Albion,0,2,A,0.0,1.0,A,...,13.0,14.0,1.0,9.0,2.0,2.0,0.0,0.0,20250116,Premier League
1,16/01/2025,2024/25,Man United,Southampton,3,1,H,0.0,1.0,A,...,7.0,10.0,4.0,4.0,1.0,3.0,0.0,0.0,20250116,Premier League
2,15/01/2025,2024/25,Everton,Aston Villa,0,1,A,0.0,0.0,D,...,17.0,10.0,8.0,5.0,2.0,1.0,0.0,0.0,20250115,Premier League
3,15/01/2025,2024/25,Leicester,Crystal Palace,0,2,A,0.0,0.0,D,...,7.0,6.0,4.0,3.0,0.0,0.0,0.0,0.0,20250115,Premier League
4,15/01/2025,2024/25,Newcastle,Wolves,3,0,H,1.0,0.0,H,...,10.0,13.0,4.0,2.0,0.0,2.0,0.0,0.0,20250115,Premier League
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12148,14/08/1993,1993/94,Southampton,Everton,0,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19930814,Premier League
12149,14/08/1993,1993/94,Sheffield United,Swindon,3,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19930814,Premier League
12150,14/08/1993,1993/94,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19930814,Premier League
12151,14/08/1993,1993/94,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19930814,Premier League
12152,14/08/1993,1993/94,Oldham,Ipswich,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19930814,Premier League

In [5]:
# 2. Inspect the dataset
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.head())

(12153, 25)
Index(['Date', 'Season', 'HomeTeam', 'AwayTeam', 'FTH Goals', 'FTA Goals',
       'FT Result', 'HTH Goals', 'HTA Goals', 'HT Result', 'Referee',
       'H Shots', 'A Shots', 'H SOT', 'A SOT', 'H Fouls', 'A Fouls',
       'H Corners', 'A Corners', 'H Yellow', 'A Yellow', 'H Red', 'A Red',
       'Display_Order', 'League'],
      dtype='object')
Date              object
Season            object
HomeTeam          object
AwayTeam          object
FTH Goals          int64
FTA Goals          int64
FT Result         object
HTH Goals        float64
HTA Goals        float64
HT Result         object
Referee           object
H Shots          float64
A Shots          float64
H SOT            float64
A SOT            float64
H Fouls          float64
A Fouls          float64
H Corners        float64
A Corners        float64
H Yellow         float64
A Yellow         float64
H Red            float64
A Red            float64
Display_Order      int64
League            object
dtype: object
         Date   Season      HomeTeam                AwayTeam  FTH Goals  \
0  16/01/2025  2024/25  Ipswich Town  Brighton & Hove Albion          0
1  16/01/2025  2024/25    Man United             Southampton          3
2  15/01/2025  2024/25       Everton             Aston Villa          0
3  15/01/2025  2024/25     Leicester          Crystal Palace          0
4  15/01/2025  2024/25     Newcastle                  Wolves          3

   FTA Goals FT Result  HTH Goals  HTA Goals HT Result  ... H Fouls  A Fouls  \
0          2         A        0.0        1.0         A  ...    13.0     14.0
1          1         H        0.0        1.0         A  ...     7.0     10.0
2          1         A        0.0        0.0         D  ...    17.0     10.0
3          2         A        0.0        0.0         D  ...     7.0      6.0
4          0         H        1.0        0.0         H  ...    10.0     13.0

   H Corners  A Corners  H Yellow  A Yellow  H Red  A Red  Display_Order  \
0        1.0        9.0       2.0       2.0    0.0    0.0       20250116
1        4.0        4.0       1.0       3.0    0.0    0.0       20250116
2        8.0        5.0       2.0       1.0    0.0    0.0       20250115
3        4.0        3.0       0.0       0.0    0.0    0.0       20250115
4        4.0        2.0       0.0       2.0    0.0    0.0       20250115

           League
0  Premier League
1  Premier League
2  Premier League
3  Premier League
4  Premier League

[5 rows x 25 columns]

In [6]:
# 3. Make sure date is parsed correctly
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df['Season'] = df['Date'].dt.year

C:\Users\kotha\AppData\Local\Temp\ipykernel_18984\2527461915.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [ ]:
# 4. Example: average goals per match by season
if 'FTHG' in df.columns and 'FTAG' in df.columns:
    df['TotalGoals'] = df['FTHG'] + df['FTAG']
    avg_goals = df.groupby('Season')['TotalGoals'].mean()

    plt.figure(figsize=(10,5))
    avg_goals.plot(kind='line', marker='o')
    plt.title("Average Goals per Match by Season")
    plt.xlabel("Season")
    plt.ylabel("Average Goals")
    plt.grid(True)
    plt.show()